<div class="table-wrapper">
  <table class="table table-striped">

    <thead>
    <tr class="color">
      <th class="fix">Название</th>

    </tr>
    </thead>
    <tbody>
    <tr tabindex="0" class="table-body" *ngFor="let genre of genres"
        (click)="getId(genre.id)" (focus)="flagDisable=false">
      <td>{{genre.title}}</td>
    </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-light" routerLink='/add-genre'>Добавить</button>
<button type="button" class="btn btn-light" [routerLink]="['/add-genre', id]" [disabled]="flagDisable">Изменить</button>



