<div class="table-wrapper">
  <table class="table table-striped">

    <thead>
    <tr class="color">
      <th class="fix">Id</th>
      <th class="fix">Название</th>

    </tr>
    </thead>
    <tbody>
    <tr tabindex="0" class="table-body" *ngFor="let genre of genres">
      <td>{{genre.genreId}}</td>
      <td>{{genre.title}}</td>
    </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-light" routerLink='/add-genre'>Добавить</button>
<button type="button" class="btn btn-light" >Удалить</button>



