<div class="wrapper">

  <div class="form-group">
    <p>Новый артист</p>
    <!--<input class="form-control" [(ngModel)]="track.trackId" placeholder="Введите id">-->

  </div>

  <div class="form-group">
    <input class="form-control" [(ngModel)]="track.name"  placeholder="Введите имя артиста">
  </div>

  <div class="form-group">
    <input  class="form-control" [(ngModel)]="track.title" placeholder="Введите название трека">

  </div>

  <!--<div class="form-group">-->
    <!--<p>Введите жанр</p>-->
    <!--<select class="form-control"  [(ngModel)]="trackGenre" >-->

      <!--<option > rock </option>-->
      <!--<option > jazz </option>-->
      <!--<option > pop </option>-->
    <!--</select>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<input  class="form-control" [(ngModel)]="trackDuration"  placeholder="Введите длительность трека">-->

  <!--</div>-->

  <div class="form-group">
    <button class="btn btn-light" (click)="addTrack()">Добавить</button>

  </div>
  <div *ngIf="done">
    <div>Получено от сервера:</div>
    <div>Имя: {{receivedTrack.name}}</div>
    <div>Название: {{receivedTrack.title}}</div>
  </div>
</div>


