<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
    <tr class="color" >
<!--      <th class="fix">Id</th>-->
      <th class="fix">Название</th>
      <th class="fix">Артист</th>
      <th class="fix">Альбом</th>
      <th class="fix">Дата релиза</th>

    </tr>
    </thead>
    <tbody>
    <tr tabindex="0" class="table-body" *ngFor="let track of tracks" (click)="getId(track.id)">
<!--      <td>{{track.id}}</td>-->
      <td>{{track.title}}</td>
      <td>{{track.artist.name}}</td>
      <td>{{track.album}}</td>
      <td>{{track.dateRelease}}</td>
    </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-light" [routerLink]="'/add-track'" >Добавить</button>
<button type="button" class="btn btn-light" (click)="deleteTrack()" >Удалить</button>


