.table-wrapper {
  height: 400px;
  background-color: white;
  overflow: auto;
  margin-bottom: 20px;
}
.fix {
  position: sticky;
  top: 0;
  background: #373A3C;
  color: #FFF4F4;
}
.color {
  background: #373A3C;
  color: #FFF4F4;
  font-size: 25px;
  line-height: 29px;
  border: 1px solid white;
  border-collapse: collapse;
}
.table-body:hover {
  background: #C8A35F; /* Цвет фона при наведении */
  color: #fff;
}
.table-body { cursor: pointer; }

.table-striped tbody tr:focus {
  background-color: #C8A35F;
}

