<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
    <tr class="color">
      <th class="fix">Id</th>
      <th class="fix">Имя артиста</th>
      <th class="fix">Страна</th>

    </tr>
    </thead>
    <tbody>
    <tr tabindex="0" class="table-body" *ngFor="let artist of artists">
      <td>{{artist.artistId}}</td>
      <td>{{artist.name}}</td>
      <td>{{artist.country}}</td>

    </tr>
    </tbody>
  </table>
</div>


<button type="button" class="btn btn-light" routerLink='/add-artist'>Добавить</button>


