<div class="wrapper">

  <div class="form-group">
    <p *ngIf="condition">Новый артист</p>

    <p *ngIf="!condition">Измените артиста</p>

    <input class="form-control" [(ngModel)]="artist.name" placeholder="Введите имя артиста">
    <input class="form-control" [(ngModel)]="artist.country" placeholder="Введите страну артиста">

  </div>

  <!--////////ВЫБОР ЖАНРА, не трогать :)) //-->
  <!--<div class="form-group">-->
  <!--<p>Выберите жанр</p>-->
  <!--<select class="form-control"  [(ngModel)]="artist.genre"  >-->
  <!--&lt;!&ndash;*ngFor="let dog of genre" >&ndash;&gt;-->
  <!--&lt;!&ndash;<select class="form-control"  >&ndash;&gt;-->
  <!--<option *ngFor="let gnr of genres" [value]="gnr.title" >{{gnr.title}} </option>-->
  <!--&lt;!&ndash;<option > gggrdg </option>&ndash;&gt;-->
  <!--&lt;!&ndash;<option >  </option>&ndash;&gt;-->
  <!--</select>-->
  <!--</div>-->
  <!--////////////////////////////-->
  <div class="form-group">
    <button class="btn btn-light" (click)="addArtist(artist)" [disabled]="!flagDisable" [routerLink]="'/artists'">Добавить</button>
    <button class="btn btn-light" (click)="changeArtist(artist)" [disabled]="flagDisable" [routerLink]="'/artists'">Сохранить изменения</button>

  </div>
</div>


