<div class="wrapper">
  <div class="form-group">
    <p>Новый жанр</p>
    <input class="form-control" placeholder="Введите название жанра">
    <!--           [(ngModel)]="title" -->
  </div>
  <p>Введите имя артиста</p>
  <div class="form-group">
    <select class="form-control"  >
      <!--            [(ngModel)]="company">-->
      <option > Билан </option>
      <option > Монатик </option>
      <option > pop </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-light" >Добавить</button>
    <!--            (click)="addPhone()"-->
  </div>
</div>
