.header-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  /*justify-content: space-between;*/
  /*height: 100%;*/
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  /*align-items: center;*/
  /*height: 100%;*/
}

.menu-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.none {
  display: none;
}

.logo__item {

  margin-right: 10px;
  font-size: 18px;
}

.music__item {
  font-size: 30px;
  line-height: normal;
  border-right: 1px solid white;
  padding-right: 10px;

}

.menu__item {
  margin-right: 15px;
  font-size: 21px;
}

.header-button-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 21px;
  margin-left: 100px;
}
