<!DOCTYPE html>
<div id="rectangle"></div>
<div class="wrap">
  <br>
<div class="header-wrapper">


  <div class="logo-wrapper">
    <div class="logo__item music__item">Музыкальная <br>библиотека</div>
    <div class="logo__item">Имя пользователя</div>
  </div>
  <div class="menu-wrapper">
    <div class="menu__item"><a class="menu__item-text" routerLink='/artist' >Артисты</a></div>
    <div class="menu__item"><a class="menu__item-text" routerLink='/track'>Треки</a></div>
    <div class="menu__item"><a class="menu__item-text" routerLink='/genre'>Жанры</a></div>
    <div class="menu__item"><a class="menu__item-text" routerLink='/'>Справка</a></div>
  </div>
  <div class="header-button-wrapper">
    <div class="in-button">Выйти</div>
    <div class="out-button none">Войти</div>
  </div>
</div>
</div>
