.header-wrapper {
  /*padding-top: 20px;*/
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  margin-bottom: 86px;
  /*justify-content: space-between;*/
  /*height: 100%;*/
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  /*align-items: center;*/
  /*height: 100%;*/
}

.menu-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.none {
  display: none;
}

.logo__item {

  margin-right: 10px;
  font-size: 25px;
  line-height: 29px;
}

.music__item {
  font-size: 40px;
  line-height: 47px;
  border-right: 1px solid #F2F2F2;

  padding-right: 10px;

}

.menu__item {
  margin-right: 15px;
  font-size: 25px;
  line-height: 29px;

}

.header-button-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  line-height: 29px;
  margin-left: 100px;
}


a {
  text-decoration: none;
  color: inherit;
}
.menu__item:hover {
  text-decoration: underline solid white;
  cursor: pointer;


}
